<div class="wrapper wrapper_padding clearfix">

	<div class="col-1 homepage_content about">
		<h2>About</h2>
		<hr>
		<p>Both a Civil Engineering Degree and a Masters Degree in Project Management have shaped my professional path to develop projects in the most eficient way possible. Delivering an end product with a high level of quality, maximizing time and minimizing costs to keep customers satisfied. Along the way I have learned important tools such as AutoCAD, Revit and MS Projects.</p>

		<p>While using tools such as Revit, I realized that I deeply enjoy creating products with the different digital resources.</p>

		<p>Currently, I am teaching myself how to code and create web sites to further explore my passion.</p>

		<p>I couldn't be happier.</p>


	</div>
	<div class="col-2 homepage_content">
		<h2>For The Curious Mind</h2>
		<hr>
		<% @posts.each do |post| %>
		<h3><a><%= link_to post.title, post %></a></h3>
		<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>

<!-- 	<div class="col-3 homepage_content">
		<h2>My Projects</h2>
		<hr>
		<#% @projects.each do |project| %>
		<h3><a><%#= link_to project.title, project %></a></h3>
		<p class="date"><%#= project.created_at.strftime("%A, %b %d") %></p>
		<%# end %>
	</div> -->

</div>