<div class="wrapper wrapper_padding clearfix">

	<div class="col-1 homepage_content about">
		<h2>About</h2>
		<hr>
		<p>Tengo un t&iacute;tulo en Ingenier&iacute;a Civil y una maestr&iacute;a en Administraci&oacute;n de Proyectos, que ambos me han ense&ntilde;ado a como desarrollar proyectos de ingenier&iacute;a civil  de la forma m&aacute;s eficiente exigiendo un alto nivel de control la calidad, acortando tiempos y protegiendo un presupuesto. Adem&aacute;s, de una vasta experiencia en programas como AutoCad, Revit y MS Project.</p>
		<p>Actualmente, aprendiendo a codificar y crear p&aacute;ginas web con el fin de explorar mi creatividad.</p>
		<p>Al igual que hacer modelos BIM en Revit, me gust&aacute; crear cosas nuevas atrav&eacute;s de los varios recuros digitales.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>What I've Written</h2>
		<hr>
		<% @posts.each do |post| %>
		<h3><a><%= link_to post.title, post %></a></h3>
		<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>

	<div class="col-3 homepage_content">
		<h2>My Projects</h2>
		<hr>
		<% @projects.each do |project| %>
		<h3><a><%= link_to project.title, project %></a></h3>
		<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>

	</div>

</div>